In [20]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math 

def receive_data():
    str_data = input("Enter data: \n")

    # convert each element as integers
    li = []
    for i in str_data.split(","):
        li.append(int(i))
    return li

def frequency(data):
    return np.unique(data, return_counts=True)
    
def probabilidades(f):
    return f[1] / f[1].sum()

def momentoUno(p, valores_unicos):
    return p * valores_unicos

def momentoDos(p, valores_unicos):
    return p * valores_unicos ** 2

def momentoTres(p, valores_unicos):
    return p * valores_unicos ** 3

def momentoCuatro(p, valores_unicos):
    return p * valores_unicos ** 4

def varianza(m1, m2):
    return m2 - m1**2

data = np.array(receive_data())
f = frequency(data)
valores_unicos = f[0]
frecuencias = f[1]
p = probabilidades(f)
m1 = momentoUno(p, valores_unicos)
m2 = momentoDos(p, valores_unicos)
m3 = momentoTres(p, valores_unicos)
m4 = momentoCuatro(p, valores_unicos)
varianzaa = varianza(m1.sum(), m2.sum())

df = pd.DataFrame(data=np.array([valores_unicos,frecuencias,p,m1,m2,m3,m4]).transpose(), columns=["valores","frecuencias","probabilidades","m1","m2","m3","m4"])
r = pd.DataFrame(data=np.array([[m1.sum(),m2.sum(),m3.sum(),m4.sum(),varianzaa]]), columns=["m1","m2","m3","m4","varianza"] )

print(df)
print(r)

Enter data:
4,2,2,2,1,2,1,2,4,3,3,3,1,3,3,4,3,3,1,4,5,5,2,1,5,1,4,2,5,3,2,5,3,1,5,3,2,3,2,4, 3,3,2,3,1,3,1,3,5,2,1,1,5,5,5,2,5,2,1,4,5,3,3,1,1,3,2,1,4,1,4,3,3,3,5,4,1,5,4,1,2,2, 4,1,3,1,2,3,1,3,4,2,3,5,4,1,3,1,3,4
   valores  frecuencias  probabilidades    m1    m2     m3     m4
0      1.0         23.0            0.23  0.23  0.23   0.23   0.23
1      2.0         19.0            0.19  0.38  0.76   1.52   3.04
2      3.0         28.0            0.28  0.84  2.52   7.56  22.68
3      4.0         15.0            0.15  0.60  2.40   9.60  38.40
4      5.0         15.0            0.15  0.75  3.75  18.75  93.75
    m1    m2     m3     m4  varianza
0  2.8  9.66  37.66  158.1      1.82

In [21]:
df

   valores  frecuencias  probabilidades    m1    m2     m3     m4
0      1.0         23.0            0.23  0.23  0.23   0.23   0.23
1      2.0         19.0            0.19  0.38  0.76   1.52   3.04
2      3.0         28.0            0.28  0.84  2.52   7.56  22.68
3      4.0         15.0            0.15  0.60  2.40   9.60  38.40
4      5.0         15.0            0.15  0.75  3.75  18.75  93.75

In [22]:
r

    m1    m2     m3     m4  varianza
0  2.8  9.66  37.66  158.1      1.82